html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: serif;
	vertical-align: baseline;
}
.main{
	width:100%;
	height:700px;
	background-color: #121212;
	background-image: url(./iconos-imagenes/757530618600.jpg);
	background-position: center;
	background-attachment: fixed;
	
}
.redesSociales{
	padding:12px;
}
.acercaDe{
	width:90%;
	height:100%;
	background-color: #121212;
}
.linea:after{
	content: "";
    display: block;
    width: 1px;
    height: 300px;
    margin: 0px auto;
    background-color: white;
}
.offcanvas.offcanvas-start{
	width:300px;
}
.bi-github, .bi-linkedin, .bi-instagram{
	animation-duration: 0.5s;
    fill: white;
}
.bi-github:hover, .bi-linkedin:hover, .bi-instagram:hover{
    fill: aqua;
	transition: 0.5s;
	transform: scale(1.2);
}

.experienciaCards .card{
	height:max-content
}

@media(max-width:768px){
	.nav-item:hover{
		background-color: white;
		color:black;
	}
	.accordion{
		width:80%;
	}
}

.accordion-button:not(.collapsed){
	color:inherit;
	background: #121212;
	color: #e8e8e8;
}
.accordion-button:not(.collapsed)::after{
	filter:brightness(0%) invert(70%);
}
.accordion-button:focus{
	box-shadow:inherit;
}
.accordion{
	--bs-accordion-bg: dark;
}
.accordion-button{
	color:white;
}
.accordion-body{
	color:white;
}
@media(min-width:769px){
	.accordion{
		width:100%;
	}
}

form{
	width:80%;
}